.login-main
  .login-panel
    .login-new
      %pアカウントをお持ちでない方はこちら
      = link_to "#" do
        新規会員登録
    .login-api
      .facebook-btn
        %i.fab.fa-facebook-square
        facebookで登録
      .google-btn
        %i.fab.fa-google
        googleで登録
      = form_with do |form|
        .login-form-mail            
          = form.text_field :email, class: "log-form", placeholder: "メールアドレス"
        .log-form-pass
          = form.text_field :password, class: "log-form", placeholder: "パスワード"
        .log-form-btn
          = form.submit "ログイン", class: "log-btn"