.container
  = form_for @product do |f|
    .head
      %h2 商品情報入力
    .section.clearfix
      %label
        画像投稿
        %span
          必須
      %p
        最大10枚までアップロードできます。
      .image-input__box#image-box
        #previews
          %ul.prev
            - if @product.persisted?
              - @product.images.each_with_index do |image, i|
                %li.previews__box
                  = image_tag image.src.url, data: { index: i }, width: "100", height: '120'
                  .btn-box
                    .js-change 編集
                    .js-remove 削除
          .drop-zone.input-box
            .js-file_group{"data-index" => "#{@product.images.count}"}
              %label{:for => "product_images_attributes_#{@product.images.count}_src"}
                %p
                  ドラッグアンドドロップ
                  %br/
                  またはクリックしてファイルをアップロード
                = file_field_tag "product_images_attributes_#{@product.images.count}_src", name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
        = f.fields_for :images do |image|
          .drop-zone.input-box{:style => "display:none;"}
            .js-file_group{"data-index" => "#{image.index}"}
              %label{:for => "product_images_attributes_#{image.index}_src"}
                %p
                  ドラッグアンドドロップ
                  %br/
                  またはクリックしてファイルをアップロード
                = image.file_field :src, class: 'js-file'
            = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
            %br/
      .field_with_errors
        - if session[:error].present?
          %ul.errors
            - session[:error].each do |e|
              - if e.include?("src")
                %li.error 
                  画像がありません
          
    .section
      .form
        %label 
          商品名
          %span
            必須
        = f.text_field :name,{:type => "text",:placeholder => "商品名（必須 40文字まで)"}
        .field_with_errors
          - if session[:error].present?
            %ul.errors
              - session[:error].each do |e|
                - if e.include?("名前")
                  %li.error 
                    商品名がありません
        .form__group
          %label 
            商品の説明
            %span
              必須
          = f.text_area :description,{:placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
          .field_with_errors
            - if session[:error].present?
              %ul.errors
                - session[:error].each do |e|
                  - if e.include?("説明")
                    %li.error 
                      説明がありません
    .section
      .select.clearfix
        %h3 商品の詳細
        .select__box.listing-form-box
          %label.listing-product-detail__category
            カテゴリー
            %span.listing-default--require
              必須

            - if @product.persisted?
              .listing-select-wrapper
                .listing-select-wrapper__box.select-wrap
                  = f.select :categories_id, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                  .listing-select-wrapper__added#children_wrapper
                    .listing-select-wrapper__box.select-wrap
                      = f.select :categories_id, options_for_select(@category_children.map{|c|[c[:name], data: {category: c[:id]}]}), {}, {class: 'listing-select-wrapper__box--select', id: 'child_category'}
                  .listing-select-wrapper__added#grandchildren_wrapper
                    .listing-select-wrapper__box.select-wrap
                      = f.select :categories_id, options_for_select(@category_grandchildren_array.map{|c|[c[:name], c[:id]]}), {}, {class: 'listing-select-wrapper__box--select', id: 'id="grandchild_category"'}
            -if @product.new_record?
              .listing-select-wrapper
                .listing-select-wrapper__box.select-wrap
                  %i.fa.fa-chevron-down
                  = f.select :categories_id, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
          .field_with_errors
            - if session[:error].present?
              %ul.errors
                - session[:error].each do |e|
                  - if e.include?("カテゴリー")
                    .error 
                      カテゴリーを選択してください
          
        .select__box
          %label 
            商品の状態
            %span
              必須
          .select-wrap
            %i.fa.fa-chevron-down
            = f.collection_select :status_id, Status.all, :id, :name, prompt: "--", class: 'input'
            .field_with_errors
              - if session[:error].present?
                %ul.errors
                  - session[:error].each do |e|
                    - if e.include?("状態")
                      %li.error 
                        商品の状態が選択されていません
          .select__box
            %label 
              ブランド
              %span
                任意
            .select-wrap
              = f.text_field :bland,{:type => "text",:placeholder => "例)　タニタ"}
    .section
      .select.clearfix
        %h3 配送について
        %a.form-question ?
        .select__box
          %label 
            配送料の負担
            %span
              必須
          .select-wrap
            %i.fa.fa-chevron-down
            = f.collection_select :shopping_charge_id, Shippingcharges.all, :id, :name, prompt: "--", class: 'input'
          .field_with_errors
            - if session[:error].present?
              %ul.errors
                - session[:error].each do |e|
                  - if e.include?("配送料")
                    %li.error 
                      配送料の負担を選んでください
        .select__box
          %label 
            発送元の地域
            %span
              必須
          .select-wrap
            %i.fa.fa-chevron-down
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--", class: 'input'
          .field_with_errors
            - if session[:error].present?
              %ul.errors
                - session[:error].each do |e|
                  - if e.include?("地域")
                    %li.error 
                      発送元の地域を選んでください
        .select__box
          %label 
            発送までの日数
            %span
              必須
          .select-wrap
            %i.fa.fa-chevron-down
            = f.collection_select :delivery_date_id, Delivarydate.all, :id, :name, prompt: "--", class: 'input'
          .field_with_errors
            - if session[:error].present?
              %ul.errors
                - session[:error].each do |e|
                  - if e.include?("配送日")
                    %li.error 
                      配送日を選択してください

    .section
      .clearfix
        %h3 販売価格(300〜9,999,999)
        %a.form-question ?
        .sell-form-box
          %ul.sell-price
            %li.form-group
              .clearfix
                .l-left
                  %label 
                    価格
                    %span
                      必須
                .l-right
                  .yen ¥
                  = f.telephone_field :price, {:placeholder => "例）300"}
              .field_with_errors
                - if session[:error].present?
                  %ul.errors
                    - session[:error].each do |e|
                      - if e.include?("価格")
                        .error 
                          価格がありません
                          - session[:error] = nil
            %li.clearfix.list
              %p.l-left  販売手数料 (10%)
              %p.l-right#commision  -
            %li.bold.list
              .clearfix
                %p.l-left 販売利益
                %p.l-right#profit -
    .section
      .sell-btn-box.clearfix
        %p
          %a 禁止されている出品、
          %a 行為
          を必ずご確認ください。
        %p
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          %a 偽ブランドの販売
          は犯罪であり処罰される可能性があります。
        %p
          また、出品をもちまして
          %a 加盟店規約
          に同意したことになります。

        = f.submit '出品する', class: "btn-default btn-blue"
        %a.btn-default.btn-gray 戻る
-# ↓本番環境でcategory.jsがうまく機能せず解決策を探した結果hamlファイルに直書きで解消できるとのことだったので直書き
:javascript
    $(function(){
    // カテゴリーセレクトボックスのオプションを作成
    function appendOption(category){
      var html = `<option value="${category.id}" data-category="${category.id}">${category.name}</option>`;
      return html;
    }
    function appendChildOption(category){
      var html = `<option value="${null}" data-category="${category.id}">${category.name}</option>`;
      return html;
    }
    // 子カテゴリーの表示作成
    function appendChidrenBox(insertHTML){
      var childSelectHtml = '';
      childSelectHtml = `<div class='listing-select-wrapper__added' id= 'children_wrapper'><div class="select-wrap"><i class='fas fa-chevron-down listing-select-wrapper__box--arrow-down'></i>
                          <div class='listing-select-wrapper__box'>
                            <select class="listing-select-wrapper__box--select" id="child_category" name="product[categories_id]">
                              <option value="${null}" data-category="---">---</option>
                              ${insertHTML}
                            <select>
                            </div>
                          </div>
                        </div>`;
      $('.listing-product-detail__category').append(childSelectHtml);
    }
    // 孫カテゴリーの表示作成
    function appendGrandchidrenBox(insertHTML){
      var grandchildSelectHtml = '';
      grandchildSelectHtml = `<div class='listing-select-wrapper__added' id= 'grandchildren_wrapper'>
                                <div class='listing-select-wrapper__box'><div class="select-wrap">
                                  <i class='fas fa-chevron-down listing-select-wrapper__box--arrow-down'></i>
                                  <select class="listing-select-wrapper__box--select" id="grandchild_category" name="product[categories_id]">
                                    <option value="---" data-category="---">---</option>
                                    ${insertHTML}
                                  </select>
                                  
                                  </div>
                                </div>
                              </div>`;
      $('.listing-product-detail__category').append(grandchildSelectHtml);
    }
    // 親カテゴリー選択後のイベント
    $('#parent_category').on('change', function(){
      var parentCategory = $('#parent_category').val(); //選択された親カテゴリーの名前を取得
      if (parentCategory != "---"){ //親カテゴリーが初期値でないことを確認
        $.ajax({
          url: 'get_category_children',
          type: 'GET',
          data: { parent_name: parentCategory },
          dataType: 'json'
        })
        .done(function(children){
          $('#children_wrapper').remove(); //親が変更された時、子以下を削除するする
          $('#grandchildren_wrapper').remove();
          $('#size_wrapper').remove();
          $('#brand_wrapper').remove();
          var insertHTML = '';
          children.forEach(function(child){
            insertHTML += appendChildOption(child);
          });
          appendChidrenBox(insertHTML);
        })
        .fail(function(){
          alert('カテゴリー取得に失敗しました');
        })
      }else{
        $('#children_wrapper').remove(); //親カテゴリーが初期値になった時、子以下を削除するする
        $('#grandchildren_wrapper').remove();
        $('#size_wrapper').remove();
        $('#brand_wrapper').remove();
      }
    });
    // 子カテゴリー選択後のイベント
    $('.listing-product-detail__category').on('change', '#child_category', function(){
      var childId = $('#child_category option:selected').data('category'); //選択された子カテゴリーのidを取得
      if (childId != "---"){ //子カテゴリーが初期値でないことを確認
        $.ajax({
          url: 'get_category_grandchildren',
          type: 'GET',
          data: { child_id: childId },
          dataType: 'json'
        })
        .done(function(grandchildren){
          if (grandchildren.length != 0) {
            $('#grandchildren_wrapper').remove(); //子が変更された時、孫以下を削除するする
            $('#size_wrapper').remove();
            $('#brand_wrapper').remove();
            var insertHTML = '';
            grandchildren.forEach(function(grandchild){
              insertHTML += appendOption(grandchild);
            });
            appendGrandchidrenBox(insertHTML);
          }
        })
        .fail(function(){
          alert('カテゴリー取得に失敗しました');
        })
      }else{
        $('#grandchildren_wrapper').remove(); //子カテゴリーが初期値になった時、孫以下を削除する
        $('#size_wrapper').remove();
        $('#brand_wrapper').remove();
      }
    });
  });