.wrapper
  = render partial: "shared/shared_1/header"
      
  .purchase-contents
    .purchase-content
      .purchase-content__header
        購入内容の確認
      .purchase-content__item
        .purchase-content__item__box
          .purchase-content__item__box__img
            = image_tag "items/m93648730423_1.jpg", height: 80, width: 80
          .purchase-content__item__box__show
            .purchase-content__item__box__show__name
              商品名
            .purchase-content__item__box__show__label
              .purchase-content__item__box__show__label__price
                ¥1000
              .purchase-content__item__box__show__label__tax
                （税込）送料込み
      .purchase-content__info
        .purchase-content__info__price
          .purchase-content__info__price__name
            .purchase-content__info__price__name__pay
              支払い金額
            .purchase-content__info__price__name__count
              ￥1,000
          .purchase-content__info__price__point
            .purchase-content__info__price__point__icon
            .purchase-content__info__price__point__name
              ポイントを使用（所持ポイント:P0)
        .purchase-content__info__credit
          .purchase-content__info__credit__how
            .purchase-content__info__credit__how__left
              支払い方法
            .purchase-content__info__credit__how__right
              = link_to root_path,class:"purchase-content__info__credit__how__right--link" do
                変更する
          .purchase-content__info__credit__card
            %p クレジットカード
            %p **** **** **** 1111
            %p 有効期限 01/01
          .purchase-content__info__credit__img
            = image_tag "credit/master.svg", height: 20, width: 34
        .purchase-content__info__address
          .purchase-content__info__address__send
            .purchase-content__info__address__send__left
              配送先
            .purchase-content__info__address__send__right
              = link_to root_path,class:"purchase-content__info__address__send__right--link" do
                変更する
          .purchase-content__info__address__area
            %p 〒000-000
            %p postnumber
            %p prefecture
            %p family_name,first_name
        .purchase-content__info__purchase-btn
          %button.purchase-content__info__purchase-btn__box 購入する

  = render partial: "shared/shared_1/footer"