.wrapper
  = render partial: "shared/shared_1/header"
  .container
    .head
      %h2 商品情報入力
    .section
      %label
        画像投稿
        %span
          必須
      %p
        最大10枚までアップロードできます
      .image-input__box
        %label{:for => "id"}
          .drop-zone
            %input{:type => "file",:id => "#"}/
    .section
      .form
        %label 
          商品名
          %span
            必須
        %input{:type => "text",:placeholder => "商品名（必須 40文字まで)"}/
        .form__group
          %label 
            商品の説明
            %span
              必須
          %textarea{:placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
    .section
      .select.clearfix
        %h3 商品の詳細
        .select__box
          %label 
            カテゴリー
            %span
              必須
          .select-wrap
            = fa_icon 'chevron-down'
            %select
              %option{:value => ""} --- 
              %option{:value => "4"} レデイース
              %option{:value => "5"} メンズ
              %option{:value => "6"} ベビーグッズ
              %option{:value => "7"} インテリア・住まい・小物
              %option{:value => "8"} 本・音楽・ゲーム
              %option{:value => "9"} おもちゃ・ホビー・グッズ
              %option{:value => "10"} コスメ・香水・美容
              %option{:value => "11"} 家電・スマホ・カメラ
              %option{:value => "12"} スポーツ・レジャー
              %option{:value => "13"} ハンドメイド
              %option{:value => "14"} チケット
              %option{:value => "15"} 自動車・オートバイ
              %option{:value => "16"} その他
        .select__box
          %label 
            商品の状態
            %span
              必須
          .select-wrap
            = fa_icon 'chevron-down'
            %select
              %option{:value => ""} --- 
              %option{:value => "4"} 新品・未使用
              %option{:value => "5"} 未使用に近い
              %option{:value => "6"} 目立った傷や汚れなし
              %option{:value => "7"} やや傷・汚れあり
              %option{:value => "8"} 傷・汚れあり
              %option{:value => "9"} 全体的に状態が悪い
    .section
      .select.clearfix
        %h3 配送について
        %a.form-question ?
        .select__box
          %label 
            配送料の負担
            %span
              必須
          .select-wrap
            = fa_icon 'chevron-down'
            %select
              %option{:value => ""} --- 
              %option{:value => "4"} 送料込み(出品者負担)
              %option{:value => "5"} 着払い(購入者負担)
        .select__box
          %label 
            発送元の地域
            %span
              必須
          .select-wrap
            = fa_icon 'chevron-down'
            %select
              %option{:value => ""} --- 
              %option{:value => "4"} 北海道
              %option{:value => "5"} 青森県
              %option{:value => "6"} 岩手県
              %option{:value => "7"} 宮城県
              %option{:value => "8"} 秋田県
              %option{:value => "9"} 山形県
        .select__box
          %label 
            発送までの日数
            %span
              必須
          .select-wrap
            = fa_icon 'chevron-down'
            %select
              %option{:value => ""} --- 
              %option{:value => "4"} 1~2日で発送
              %option{:value => "5"} 2~3日で発送
              %option{:value => "6"} 4~7日で発送
  
    .section
      .clearfix
        %h3 販売価格(300〜9,999,999)
        %a.form-question ?
        .sell-form-box
          %ul.sell-price
            %li.form-group
              .clearfix
                .l-left
                  %label 
                    価格
                    %span
                      必須
                .l-right
                  %div ¥
                  %input{:type => "tel",:placeholder => "例）300"}/
            %li.clearfix
              %p.l-left  販売手数料 (10%)
              %p.l-right  -
            %li.bold
              .clearfix
                %p.l-left 販売利益
                %p.l-right -
    .section
      .sell-btn-box.clearfix
        %p
          %a 禁止されている出品、
          %a 行為
          を必ずご確認ください。
        %p
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          %a 偽ブランドの販売
          は犯罪であり処罰される可能性があります。
        %p
          また、出品をもちまして
          %a 加盟店規約
          に同意したことになります。

        %button.btn-default.btn-blue 出品する
        %a.btn-default.btn-gray 戻る
  = render partial: "shared/shared_1/footer"