.search
  = render partial: 'shared/shared_2/header-top'
  .search-contents
    .content5__main1__picture
      .content5__main1__picture__image
        - @products.each do |product|
          = link_to product_path(product), data: {"turbolinks" => false} do
            .content5__main1__picture__image__content
              = image_tag product.images[0].src.url, height: "150px", width: "150px"
              .content5__main1__picture__image__form  
                .content5__main1__picture__image__form__name
                  = product.name
                .content5__main1__picture__image__form__box
                  .content5__main1__picture__image__form__box__price 
                    ¥
                    = product.price
                  .content5__main1__picture__image__form__box__like
                    ☆1
              -if product.buyer_id.present? 
                .products-box_photo__sold
                  .products-box_photo__sold__inner
                    SOLD
  = render partial: 'shared/shared_2/footer-top'
  = render partial: 'shared/shared_2/sellbtn-top'