.products-detail
  = render partial: "shared/shared_2/header-top"
  .breadcrumb-bar
    - breadcrumb :show, @product
    = render "layouts/breadcrumbs"
.content-detail
  .content-detail__form
    .content-detail__form__title
      = @product.name
    .content-detail__form__box
      .content-detail__form__box__image
        .slick  
          - @product.images.each do |product_image|
            = image_tag product_image.src.url, class: "slick-img", height: "300px", width: "300px"
        .slick-thumbnail
          - @product.images.each do |product_image|
            = image_tag product_image.src.url, class: "slick-thumbnail_item", height: "60px", width: "60px"
        -if @product.buyer_id.present? 
          .products-box_show_photo__sold
            .products-box_show_photo__sold__inner
              SOLD
      .content-detail__form__box__detail
        .content-detail__form__box__detail__seller
          出品者
        .content-detail__form__box__detail__seller__form
          = @saler_user.nickname
        .content-detail__form__box__detail__category
          カテゴリー
        .content-detail__form__box__detail__category__form
          = @category.root.name
          = "> #{@category.parent.name}"
          = "> #{@category.name}"
        .content-detail__form__box__detail__brand
          ブランド
        .content-detail__form__box__detail__brand__form
          = @product.bland
        .content-detail__form__box__detail__size
          商品のサイズ
        .content-detail__form__box__detail__size__form
          指定なし
        .content-detail__form__box__detail__status
          商品の状態
        .content-detail__form__box__detail__status__form
          = @product.status.name
        .content-detail__form__box__detail__delivery-price
          配送料の負担
        .content-detail__form__box__detail__delivery-price__form
          = @shopping.name
        .content-detail__form__box__detail__delivery-method
          配送の方法
        .content-detail__form__box__detail__delivery-method__form
          佐川急便
        .content-detail__form__box__detail__delivery-origin
          配送元の地域
        .content-detail__form__box__detail__delivery-origin__form
          = @product.prefecture.name
        .content-detail__form__box__detail__delivery-date
          発送日の目安
        .content-detail__form__box__detail__delivery-date__form
          = @delivery_date.name
    .content-detail__form__price
      .content-detail__form__price__bold
        = "¥ #{@product.price}"
      .content-detail__form__price__item
        .content-detail__form__price__item__tax
          (税込)
        -if @product.shopping_charge_id == 1
          .content-detail__form__price__item__delivery-price
            送料込み
        -else
          .content-detail__form__price__item__delivery-price
            着払い    
    - if user_signed_in?
      - if current_user.id == @product.saler_id
        = link_to "編集画面にすすむ", edit_product_path, class: "content-detail__form__edit-btn"
        = link_to "商品を削除する", @product, method: :delete, class: "content-detail__form__destroy"
      - else
        -if @product.buyer_id.present?
          .content-detail__form__sold-btn
            売り切れました
        -else
          - if @card.present?
            = link_to "購入画面にすすむ",paycheck_product_path, class: 'content-detail__form__bay-btn',data: {"turbolinks"=>false}
          - else
            = link_to "支払い情報を登録をしてください",new_card_path, class: 'content-detail__form__bay-btn',data: {"turbolinks"=>false}
    - else
      = link_to "ログインしてください", login_signups_path, class: "content-detail__form__destroy"
    .content-detail__form__description
      = @product.description
    .content-detail__form__icon
      .content-detail__form__icon__like.like
        %a いいね！
        - if @product.like?(current_user)
          %i.fa.fa-heart.heart{data:{ids:{"product": @product.id,"user": current_user.id}}}
        - else
          %i.fa.fa-heart{data:{ids:{"product": @product.id,"user": current_user.id}}}
        %a#likes-count
          = @product.likes.length

      .content-detail__form__icon__report
        不適切な商品の報告
    .comments
      %h4 < コメント一覧 >
      .comment
        -if @comments
          -@comments.reverse.each do |comment|
            .comment-name
              =link_to comment.user.nickname 
              -# %p :
              .baloon-left
                %p.product-comment=comment.text
  .content-detail__comment
    -if current_user
      = form_with model: @comment, id: "new-form", url: product_comments_path(@product), method: :post, local: true do |form|
        .content-detail__comment__danger
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。 
        .content-detail__comment__form
          =form.text_area :text, placeholder: "例）こんばんは！  こちらの商品は大変素晴らしいと思ったのですが、、、価格と釣り合っていないように思われます！！  もしかしたら他の方が不快感を覚えるかもしれないので（僕は思わないですけど、、）、取り下げられた方が良いのではないかと愚考します。", class: "comment-area", id: "area"  
        .content-detail__comment__btn  
          =form.submit "コメントする", class: "comment-btn", id: "btn"
        -# -binding.pry
    -else
      %p※※ コメントの投稿には新規登録/ログインが必要です ※※
  
= render partial: "shared/shared_2/footer-top"

:javascript
    $(function() {
      $(document).on("click","i",function() {
        var product = $(this).data("ids-product");
        var user = $(this).data("ids-user");
        let count = $('#likes-count').text().trim();
        console.log(+count + 1);
        if($(this).hasClass('heart')){
          $.ajax({
          type: 'DELETE',
          url: `/likes/${product}`,
          data: {product_id: product, user_id: user},
          dataType: 'json'
        })
        .done(function(){
          console.log('成功');
          $('.fa-heart').removeClass('heart');
          $('#likes-count').empty();
          $('#likes-count').append(+count - 1);
        })
        .fail(function(){
          console.log('失敗');
        });
        }else{
          $.ajax({
          type: 'POST',
          url: "/likes",
          data: {product_id: product},
          dataType: 'json'
          })
        .done(function(){
          console.log('成功');
          $('.fa-heart').addClass('heart');
          $('#likes-count').empty();
          $('#likes-count').append(+count + 1);
        })
        .fail(function(){
          console.log('失敗');
        });
        }
      });
    });

